*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.client-name-cell{
    text-align: left;
}

.total-sales-cell{
    text-align: right;
}

.clients-table-entry{
    cursor: pointer;
    transition: 0.3s;
}

.clients-table-entry:hover{
    background-color: aquamarine;
}