*{
    margin: 0;
    padding: 0;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: azure;
    width: 100%;
}

header{
    width: 100%;
    text-align: center;
}

main{
    width: 100%;
}

th, td{
    text-align: center;
    padding: 0 15px;
}

.client-name-cell, .code-cell{
    text-align: left;
}

.total-sales-cell{
    text-align: right;
}

.clients-table-entry{
    cursor: pointer;
    transition: 0.3s;
}

.clients-table-entry:hover{
    background-color:#777;
}

input{
    max-width: 300px;
}

select{
    max-width: 300px;
}

.new-client-popup, .client-view{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background-color:azure;
    position: absolute;
}
