*{
    margin: 0;
    padding: 0;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: aqua;
    width: 100%;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.client-name-cell, .code-cell{
    text-align: left;
}

.total-sales-cell{
    text-align: right;
}

.clients-table-entry{
    cursor: pointer;
    transition: 0.3s;
}

.clients-table-entry:hover{
    background-color: aquamarine;
}

.new-client-popup{
    display: none;
    z-index: 100;
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
}
